body {
  font-size: 20px;
  background-color: black;
  color: white;
}

.buttons-div {
  /* display: flex;
  flex-direction: column;
  gap: 10px;
  color: red;
} */
}

.firstRow,
.secondRow,
.thirdRow,
.fourthRow,
.fifthRow {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: red;
  padding: 10px;
}
